Repository DynamusDev/launchbase_web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src/** --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint src/** --fix",
  "*.{json,js}": ["prettier --write"]
}

melhorias
  .eslintrc.json
  package.json
Due: prettier --write

melhorias
  package-lock.json
  package.json
  src/theme/theme.ts
Due: eslint src/** --fix, prettier --write

testes
  jest.config.js
  package.json
  src/pages/tests/Home.spec.tsx
  src/tests/testMatch.ts
  src/tests/waitAndClick.ts
Due: eslint src/** --fix, prettier --write

testes
  src/pages/tests/Home.spec.tsx
Due: none

testes
  jest.config.js
  src/helpers/cookies.ts
  src/helpers/string.ts
  src/helpers/tests/px2rem.spec.ts
  src/helpers/tests/string.spec.ts
Due: eslint src/** --fix, prettier --write
